* {
	font-family:Trebuchet, Arial, sans-serif;
}

li.li_tab{
	list-style:none;
	clear: both;
	
	//a.a_tab{
		display:block;
		background-color:white;
		border:#ccc 2px solid;
		border-radius: 5px;

		width:400px;
		padding:25px;
		margin-bottom:10px;

		color: #666;

	  text-decoration: none;
	  float:left;
	//}

	&.selected{
		color:white;
		background-color: #09F;
		border-color:#999;

		&:before{
			width:100px;
			height:100px;
			display:inline-block;
			content:"\21A8";
			font-size:44pt;
			color: #F00;
			/* float: right; */
			text-decoration: none;
			position: absolute;
			/* left: 155px; */
			/* top: -35px; */
			left: 525px;
			margin-top: -20px;
		}
	}
}

.resetLink{
	float: none;
	clear: both!important;
	display: block;
}