<header>
	<h1>Use tab button to choose down, use shift+tab to choose up</h1>
	<h2>Use up and down arrows to move the chosen item</h2>
</header>
<main>
	<ul class="tabs" id="theTabs">
	  <li *ngFor="let tab of tabs" (keydown)="onArrowKey($event, tab)"
	  id="li_tab_{{tab.id}}" [ngClass]="{'li_tab': true, 'selected':currentTab === tab.id}"
	  [attr.data-tid]="tab.id">
  		<a name="{{tab.id}}">&nbsp;</a>
      <a href="#{{tab.id}}" id="a_tab_{{tab.id}}" class="a_tab">
      	<span class="badge">{{tab.id}}</span> {{tab.name}}
      </a>
	  </li>
	</ul>

	<div id="buttonContainer">
		<div id="upClickButton" (click)="shiftTabLocation(true)"
		[ngClass]="{'disabled': disabledTop === true}"></div>

		<div id="downClickButton" (click)="shiftTabLocation(false)"
		[ngClass]="{'disabled': disabledBottom === true}"
		></div>
	</div>

	<a name="reset">&nbsp;</a>
	<a href="#reset" (click)="tabsReset()" class="resetLink" id="resetLink">
		RESET
	</a>
</main>