* {
	font-family:Trebuchet, Arial, sans-serif;
}

#upClickButton:after, #downClickButton:after{
	width:50px;
	height:100px;
	display:inline-block;
	font-size:44pt;
	color: #09F;
	float:left;
	text-decoration:none;
	cursor: pointer;
}

#upClickButton:after{
	content:"\21A5";
}

#downClickButton:after{
	content:"\21A7";
}

#upClickButton.disabled:after, #downClickButton.disabled:after{
	color: #999;
	cursor: not-allowed;
}

li.li_tab{
	list-style:none;
	clear: both;
	
	a.a_tab{
		display:block;
		background-color:white;
		border:#ccc 2px solid;
		border-radius: 5px;

		width:400px;
		padding:25px;
		margin-bottom:10px;

		color: #666;

	  text-decoration: none;
	  float:left;
	}

	&.selected a.a_tab{
		color:white;
		background-color: #F90;
		border-color:#999;
	}
}

.resetLink{
	float: none;
	clear: both!important;
	display: block;
}